<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> |
			<a href="/user/add">Add New Event</a> |
			<a href="/user">List All Events</a>
		</div>
	
		<h1>
			<%= title %>
		</h1>

	</body>
</html>